<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Quora</title>
</head>
<body>
    <h1>Welcome to Quora</h1>
    <div id="posts">
        <% for(let post of posts) { %>
            <div class="posts">
                <h3 class="user">@<%= post.username %></h3>
                <p class="content"><%= post.content %></p>
                <a href="http://localhost:8080/posts/<%= post.id %>">Read More</a> &nbsp; | &nbsp;
                <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a> &nbsp; | &nbsp;
                <form action="http://localhost:8080/posts/<%= post.id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete Post</button>
                </form>
            </div>
        <% } %>
    </div>
    <br><br>
    <a href="http://localhost:8080/posts/new">Create New Post</a>
</body>
</html>